.container {
  background-color: var(--background);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.container .content {
  padding: 1rem;
}
.main {
  padding: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*responsive width for .content (mobile, tablet, pc)*/

@media (max-width: 576px) {
  .container .content {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container .content {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container .content {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container .content {
    width: 65%;
  }
}
